<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace:写当前mapper文件对应的dao接口的全类名
 -->
<mapper namespace="com.baizhi.dao.AlbumDao">
	<resultMap id="albumMap" type="Album">
		<result column="id" property="id"/>
		<result column="title" property="name"/>
		<result column="coverImg" property="coverImg"/>
		<result column="count" property="count"/>
		<result column="score" property="score"/>
		<result column="author" property="author"/>
		<result column="broadCast" property="broadCast"/>
		<result column="brief" property="brief"/>
		<result column="publishDate" property="publishDate"/>
	<collection property="children" ofType="Chapter">
		<result column="id1" property="id"/>
		<result column="name" property="name"/>
		<result column="url" property="url"/>
		<result column="size" property="size"/>
		<result column="duration" property="duration"/>
	</collection>
	</resultMap>

	<insert id="insert">
		insert into album VALUES(#{id},#{name},#{coverImg},(select count(*) from chapter t1 LEFT JOIN album t2 on t1.albumid = t2.id
		where t1.albumid = #{id}),#{score},#{author},#{broadCast},
		#{brief},CURDATE())
	</insert>

	<select id="selectAll" resultMap="albumMap">
		select t1.*,t2.title name,t2.id id1,t2.title name,t2.url url,t2.size size,t2.duration duration,t2.albumid albumid1 from album t1
		LEFT JOIN chapter t2
		on t1.id = t2.albumid
	</select>

	<select id="selectOne" resultMap="albumMap">
		select * from album where id = #{uuid}
	</select>
</mapper>