<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 
	namespace:写当前mapper文件对应的dao接口的全类名
 -->
<mapper namespace="com.baizhi.dao.ChapterDao">
	<select id="selectOne" resultType="Chapter">
		select * from chapter where id = #{id}
	</select>

	<select id="selectTwo" resultType="Chapter">
		select t1.* from chapter t1 INNER JOIN album t2 on t2.id = t1.albumid
		where t1.albumid = #{uuid};
	</select>
	
	<insert id="chapterInsert">
		insert into chapter(title,url,size,duration,albumid)
		values(#{name},#{url},#{size},#{duration},#{album.id})
	</insert>
</mapper>